* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #003566;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: #ffc300;
  padding: 1rem;
  margin: 1rem 2rem;
  border: 3px solid #ffc300;
  outline: none;
  border-radius: 10rem;
  color: #003566;
  font-size: 1.2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
}
button:hover {
  background-color: #00d9c0;
  border-radius: 10rem;
}
button:active {
  background-color: #00d9c0;
  border-radius: 10rem;
}
h1 {
  font-weight: bold;
  color: white;
}
h2 {
  color: white;
  font-weight: lighter;
}
h3 {
  color: white;
}
h4 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
p {
  color: white;
  font-size: 1rem;
}
input {
  font-family: "Poppins", sans-serif;
  background-color: #ffc300;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid #ffc300;
  outline: none;
  border-radius: 10rem;
  background: transparent;
  color: white;
  font-size: 1rem;
  width: 600px;
  transition: all 0.5s ease;
}
input ::placeholder {
  color: darkgray;
}
.background {
  width: 80%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.row {
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.dropdown {
  width: 20%;
  margin: 2rem;
  background-color: chartreuse;
  cursor: pointer;
  /* box-sizing: border-box; */
  max-height: 200px;
  z-index: 1000;
}

.answer {
  color: #00d9c0;
  font-size: 2rem;
  margin: 2rem;
}
